
<div class="row">
  <div class="span12">
    <ul class="inline dashboard-buttons">
      <li><a href="/admin/security"><img src="/app/Core/Modules/Security/Resources/icons/icon.png"><span>Security</span></a></li>
      <li><a href="/admin/homepage"><img src="/app/Core/Modules/Homepage/Resources/icons/icon.png"><span>Homepage</span></a></li>
    </ul>
  </div>
</div>