
<div class="row">
  <div class="span12">
    <ul class="inline dashboard-buttons">
      {% for module in modules %}
        <li><a href="{{ module.path }}"><img src="/app/Core/Modules/{{ module.name }}/Resources/icons/icon.png"><span>{{ module.label }}</span></a></li>
      {% endfor %}
    </ul>
  </div>
</div>